.box-layout {
	background: url('/images/bg.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.box-layout__box {
	background: fade-out(white, .15);
	border-radius: 3px;
	padding: $l-size $m-size;
	text-align: center;
	width: 25rem;
}

.box-layout__title {
	margin: 0 0 $m-size 0;
	line-height: 1;
}

.money-info-box {
	background: $grey;
	height: 150px;
	padding: $s-size $m-size;
	border-radius: 10px;
	margin-top: $m-size;
}

.money-info-box__title {
	font-size: $m-size;
	margin: 0;
	color: white;
}
